<!DOCTYPE html>

<html>

<head>

    <title> {{ title }} </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

    <h1> {{ title }} </h1>

    <form action="/get_inserted_applicant_data" >
        <table>
            {% for data in column_names %}
                <tr>
                    <td>
                        <label for="{{ data }}"> {{ data }} </label>
                    </td>
                    <td>
                        <input name="{{ data }}" id="{{ data }}" >
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit application" class="button">
        <input type="hidden" value={{ code }} name="code" >
    </form>

</body>

</html>